<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Angular JS Auth</a>
      </div>
      <ul class="nav navbar-nav">
        <li  class="active"><a ui-sref="home">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="vm.auth.isAuthenticated()"><a ui-sref="profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li ng-if="!vm.auth.isAuthenticated()"><a ng-click="vm.auth.login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li ng-if="vm.auth.isAuthenticated()"><a ng-click="vm.auth.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>






